Flask==1.1.2
  - click [required: >=5.1, installed: 7.1.2]
  - itsdangerous [required: >=0.24, installed: 1.1.0]
  - Jinja2 [required: >=2.10.1, installed: 2.11.2]
    - MarkupSafe [required: >=0.23, installed: 1.1.1]
  - Werkzeug [required: >=0.15, installed: 1.0.1]
Flask-SQLAlchemy
psycopg2
Flask-Testing
gunicorn==19.7.1
coverage>=4.4.2
flake8>=3.7.0,<3.8.0
flask-debugtoolbar>=0.10.1
flask-cors>=3.0.3